<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Clínica especialista</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Cerrar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/doctores" >Doctores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clientes" >Pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/examenes" >Examenes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


  <br>

    <div class="container">
        <h1 class="display-4 text-center">Exámenes</h1>
        <div class="form-group">
          <button class="btn btn-primary" (click)="openModal()">Agregar</button>
        </div>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>ID</th>
              <th>Cliente</th>
              <th>Doctor</th>
              <th>Fecha</th>
              <th>Resultado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let registro of registros | filter: filtro">
              <td>{{ registro.id }}</td>
              <td>{{ registro.cliente }}</td>
              <td>{{ registro.doctor }}</td>
              <td>{{ registro.fecha }}</td>
              <td>{{ registro.resultado }}</td>
              <td class="text-center">
                <button class="btn btn-primary" (click)="editModal(registro)">Editar</button>
                <button class="btn btn-danger" (click)="eliminar(registro)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      

      <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showModal}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <form>
                
                <div class="form-group">
                  <label for="nombre">Cliente</label>
                  <select class="form-control" name="cliente" [(ngModel)]="examen.cliente">
                    <option *ngFor="let elemento of clientes" [value]="elemento">{{elemento}}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="nombre">Doctor</label>
                  <select class="form-control" name="doctor" [(ngModel)]="examen.doctor">
                    <option *ngFor="let elemento of doctores" [value]="elemento">{{elemento}}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="nombre">Fecha</label>
                  <input type="date" class="form-control" name="fecha" [(ngModel)]="examen.fecha">
                </div>

                <div class="form-group">
                  <label for="nombre">Resultado</label>
                  <input type="text" class="form-control" name="resultado" [(ngModel)]="examen.resultado">
                </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
              <button *ngIf="!EDICION" type="button" class="btn btn-primary" (click)="guardar()">Enviar</button>
              <button *ngIf="EDICION" type="button" class="btn btn-primary" (click)="editar()">Editar</button>
            </div>
          </div>
        </div>
      </div>
      