<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Clínica especialista</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Ingresar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/clientes" >Ver mis resultados</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<br>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p>
          Bienvenido a nuestro centro de especialidades médicas, donde tu salud es nuestra prioridad. Nuestro equipo de expertos en diferentes áreas médicas está aquí para brindarte la atención y cuidado que necesitas. Confía en nosotros para ofrecerte soluciones médicas de calidad y un trato cercano y humano.
        </p>
        <p>
          "Tu bienestar en nuestras manos: Expertos en cuidar de ti en un solo lugar."
        </p>
      </div>
      <div class="col-lg-6">
        <img src="../../assets/imagenes/principal.jpg" alt="Imagen" class="img-fluid">
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-6 my-auto">
        <img src="../../assets/imagenes/principal2.png" alt="Imagen 1" class="img-fluid">
      </div>
      <div class="col-6 my-auto">
        <img src="../../assets/imagenes/principal3.jpg" alt="Imagen 2" class="img-fluid">
      </div>
    </div>
  </div>
  

